body {
    text-align: center;
    font-family: Raleway;
}

h1, h2 {
    font-family: 'Poller One';
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1rem;
    padding-top: 0.9rem;
    margin-bottom: 0.9rem;
}

.wrapper {
    width: 100%;
}

.bg-img {
    width: 100%;
    height: auto;
}
.game-content {
    position: fixed;
    top: 0px;
    width: 90%;
    margin: 0 5% 0 5%;    
}

.game-title {
    margin-top: 15px;
    text-align: right;
}

.character-card {
    float: left;
    width: 150px;
    background-color: #ffffff;
    margin-right:10px;
    border: 3px solid #44aa44;
    text-align: center;
    border-radius: 10px;
}

.character-card p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.8rem;
}

.character {
    width: 130px;
    height: 60px;
    object-fit: contain;
    border-radius: 3px;
}

.characters-available,
.your-character, 
.enemies-available, 
.fight-section, 
.defender, 
.battle-status {
    text-align: left;
    clear:left;
}

.battle-status {
    padding-top:0.5rem;
}

.battle-status p {
    padding-top: 3px;
    padding-bottom: 3px;
}

.button {
    width: 3rem;
    padding: 5px;
    margin: 7px;
    background: #888888;
    color: #000000;
    border: solid 1px #333333;
    border-radius: 10px;
    font-size: 0.8rem;
}

#restart {
    visibility:hidden;
}

.winning {
    font-weight: bold;
    margin-top: 1rem;
    color: #000000;
}

.garbage-dump {
    float: right;
    visibility: hidden;
}