body {
    text-align: center;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.wrapper {
    width: 100%;
}

.bg-img {
    width: 100%;
    height: auto;
}
.game-content {
    position: fixed;
    top: 0px;
    width: 90%;
    margin: 0 5% 0 5%;    
}

.game-title {
    margin-top: 20px;
    text-align: right;
}

.character-card {
    float: left;
    width: 150px;
    background-color: #ffffff;
    margin-right:10px;
    border: 2px solid #44aa44;
    text-align: center;
}

.character-card p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.8rem;
}

.character {
    width: 130px;
    height: 60px;
    object-fit: contain;
}

.characters-available,
.your-character, 
.enemies-available, 
.fight-section, 
.defender, 
.battle-status {
    text-align: left;
    clear:left;
}

.button {
    width: 3rem;
    padding: 10px;
    margin: 5px;
    background: #888888;
    color: #000000;
    border: solid 1px #333333;
    border-radius: 10px;
}

#restart {
    visibility:hidden;
}

.garbage-dump {
    float: right;
    visibility: hidden;
}